@import url('main.css');

header.main{
	background-color: #3F51B5;
	position: fixed;
	height: 64px;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

header.main div#menu_main{
	float: left;
	background: url('../img/ic_menu_white.svg') no-repeat center center;
}

header.main h1{
	display: inline-block;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 64px;
	font-size: 1.3em;
	line-height: 64px;
	font-weight: 400;
	text-transform: uppercase;
}

header.main div#options{
	background: url('../img/ic_more_white.svg') no-repeat center center;
}

header.main a#logout{
	background: url('../img/ic_logout_white.svg') no-repeat center center;
}

header.main div#search{
	background: url('../img/ic_search_white.svg') no-repeat center center;
}

header.main div.icon,
header.main a.icon{
	top: 0;
	height: 64px;
	width: 64px;
	display: block;
	cursor: pointer;
	position: relative;
	float: right;
}

header.main input{
	width: 200px;
	float: right;
	margin-top: 16px;
	transition: width 500ms ease;
}

header.main input.hidden{
	width: 0;
	padding-left: 0;
	padding-right: 0;
}

aside.main{
	position: fixed;
	left: 0;
	background: #FFF;
	z-index: 500;
	width: 240px;
	top: 64px;
	bottom: 0;
	transition: left 100ms;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

aside.main.hidden{
	left: -250px;
}

aside.main header{
	height: 150px;
	position: relative;
	background: url('../img/bg.png') no-repeat center center;
	background-size: cover;
}

aside.main header img{
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	height: 64px;
	width: 64px;
	margin: 16px;
	border-radius: 50%;
}

aside.main header h2{
	color: #FFF;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}

aside.main ul{
	margin: 20px 0;
}

aside.main ul li{
	display: block;
}

aside.main ul li.div{
	height: 20px;
}

aside.main ul li a{
	padding: 7px 0 7px 40px;
	font-size: 1em;
	display: block;
	text-decoration: none;
	position: relative;
	color: #000;
}

aside.main ul li a:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

aside.main ul li a::before{
	position: absolute;
	left: 6px;
	top: 2px;
}

aside.main ul li a.dashboard::before{
	content: url('../img/ic_dashboard_black.svg');
}

aside.main ul li a.search::before{
	content: url('../img/ic_search_black.svg');
}

aside.main ul li a.profile::before{
	content: url('../img/ic_account_black.svg');
}

aside.main ul li a.logout::before{
	content: url('../img/ic_logout_black.svg');
}

aside.main ul li a.catalog::before{
	content: url('../img/ic_module_black.svg');
	left: 5px;
}

div#content{
	top: 64px;
	position: absolute;
	min-height: calc(100% - 64px);
	width: 100%;
}

input{
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	transition: border-bottom 200ms;
	box-shadow: 0 0 0px 128px white inset;
	display: block;
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.87);
	padding: 5px 10px;
	background-color: transparent;
}

input:focus{
	border-bottom: 1px solid #FF4081;
}

input:focus::-webkit-input-placeholder{color:#FF80AB;}
input:focus:-moz-placeholder{color:#FF80AB;}
input:focus::-moz-placeholder{color:#FF80AB;}
input:focus:-ms-input-placeholder{color:#FF80AB;}

a#floating{
	position: fixed;
	display: block;
	height: 64px;
	width: 64px;
	z-index: 2000;
	border-radius: 50%;
	right: 16px;
	bottom: 16px;
	background: url('../img/ic_add_white.svg') no-repeat center center;
	background-size: 32px;
	background-color: #FF4081;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

input[type="submit"]{
	display: inline-block;
	background-color: #FF4081;
	width: auto;
	padding: 5px 10px;
	border-radius: 3px;
	position: absolute;
	right: 24px;
	text-transform: uppercase;
	color: #FFF;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	font-size: 1.09em;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: -0.005em;
	transition: box-shadow 200ms;
	-moz-transition: box-shadow 200ms;
}

input[type="submit"]:active{
	box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
}

#paginate a[href="#"] {
	visibility: hidden;
}