div#content h1{
	font-size: 5em;
	font-weight: 400;
	text-align: center;
	margin-top: 100px;
	color: rgba(0, 0, 0, 0.87);
}

div#content p{
	text-align: center;
	color: rgba(0, 0, 0, 0.87);
	margin: 10px 0;
	font-size: 1.1em;
}

div#content code{
	font-weight: 400;
	font-family: 'Consolas', Monospace;
}

