div#results{
	vertical-align: top;
}

.card{
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.87);
	margin: 10px;
	padding: 10px;
}

a.card.result{
	padding: 0;
	position: relative;
	display: inline-block;
	text-decoration: none;
	min-height: 600px;
	vertical-align: top;
	position: relative;
}

a.card.result div{
	padding: 10px;
	position: relative;
	min-height: 400px;
	max-width: 300px;
	display: block;
}

a.card.result div h1{
	font-size: 1.4em;
	margin-bottom: 5px;
}

a.card.result div h2{
	font-size: 1.1em;
}

a.card.result div img{
	display: block;
	width: 100%;
	margin: 10px 0;
}

a.card.result div p{
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.56);
}

a.card.result div span{
	margin-top: 20px;
	color: rgba(0, 0, 0, 0.56);
	display: block;
}

a.card.result div small{
	color: rgba(0, 0, 0, 0.56);
	display: block;
}

form#searchform{
}

form#searchform input{
	display: inline-block;
	position: relative;
	bottom: auto;
	left: auto;
	max-width: 190px;
	margin: 0 6px;
	right: auto;
	top: auto;
}

div#paginate{
	padding: 10px 20px;
	text-align: center;
}

div#paginate a{
	color: rgba(0, 0, 0, 0.56);
	text-decoration: none;
}

div#paginate a:hover{
	color: #FF4081;
	border-bottom: 1px dotted #FF4081;
}

div#paginate span.ruimte{
	width: 10px;
	display: inline-block;
}

div.card.big{
	position: relative;
	padding: 0;
	min-height: 500px;
	padding-bottom: 20px;
}

div.card.big a{
	display: block;
	max-height: 700px;
	overflow: hidden;
	position: relative;
}

div.card.big a h1{
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 0 50px 40px;
	font-size: 1.6em;
	font-weight: 500;
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.87);
}

div.card.big a h2{
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
	font-size: 1.2em;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 40px;

}

div.card.big a img{
	width: 100%;
}

div.card.big p{
	padding: 20px;
}

div.card.big span,
div.card.big small{
	padding: 3px 20px;
	display: block;
	color: rgba(0, 0, 0, 0.56);
}
